body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  background-color: #eef5ff;
  padding: 2em 1.5em;
  min-height: 100vh;
}

.App {
  background-color: #fff;
  min-height: 90vh;
  padding: 3rem 1.5rem;
}
.title-desc {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  margin-top: -1.25rem;
  text-transform: uppercase;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filter-item {
  display: flex;
  flex-basis: 0;
  padding: 0.75rem 0.75rem 0.75rem 0;
  flex-grow: 1;
  flex-shrink: 3;
  flex-direction: column;
  width: 100%;
}

.filter-item button {
  align-self: flex-start;
  padding: 12px 15px;
  border: 1px solid #111;
  background: none;
  cursor: pointer;
}

.filter-item button:hover, .pagination button:hover {
  background: #111;
  color: #eee;
}

.table-container {
    overflow-x: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-top: 1.25rem;
}

table thead th {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order {
  display: flex;
  flex-direction: column;
}

.order button {
  background-color: transparent;
  border: none;
  color: #666;
  cursor: pointer;
}

.order button:hover {
  color: #333;
}

.order button.active {
  color: #111;
}

table tbody td {
  padding: 8px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #dbdbdb;
}

table tbody tr:nth-child(odd) {
    background-color: #fcfcfc;
}

table tbody tr:hover {
  background-color: #fafafa;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-content: space-evenly;
}

.pagination button {
  padding: 6px;
  margin: 10px;
  border: 1px solid #111;
  background: none;
  cursor: pointer;
}

.pagination button:disabled {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    cursor: not-allowed;
}